<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Cambiar Contraseña</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
	<div class="container">
<h1>Cambiar Contraseña</h1>

<form th:action="@{/cambiar-password}" method="post">
    <label>Usuario:</label>
    <input type="text" name="usuario" required>
    
    <label>Nueva Contraseña:</label>
    <input type="password" name="nuevaPassword" required>
    
    <button type="submit">Cambiar</button>
</form>

<p th:if="${error}" th:text="${error}" style="color:red;"></p>
<p th:if="${mensaje}" th:text="${mensaje}" style="color:green;"></p>
	</div>
</body>
</html>
